#272727
*
{
    box-sizing: border-box;
}
:root
{
    --sliderHeight: 625px;
}
body
{
    margin: 0;
    font-family: "Montserrat";
    color: #111;
}
main header .header-top
{
    background-color: rgb(119, 119, 126);
    height: 8vh;
}
.header-top>.header-wrapper
{
    max-width: 1000px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
    color: rgb(248, 237, 237);
    font-size: 0.9em;
}
.header-top .fa-envelope
{
    margin: 0 5px 0 30px;
}
.header-top .fa-phone-alt
{  
    margin: 0 10px 0 37px;
}
header menu
{
    display: flex;
}
menu>.wrapper
{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
#logo
{
    width: 200px;
    height: 60px;
    cursor: pointer;
}
menu .menu-right
{
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
}
.menu-right a
{
    text-decoration: none;
    font-size: 1.4em;
    font-weight: bold;
    color: rgb(71, 69, 69);
    margin: 0 10px;
}
.menu-right a:hover
{
    color: rgb(145, 143, 143);
}
.bigBox
{
    position: relative;
    overflow: hidden;
}

.sliderContainer
{
    width: 99999px;
    height: var(--sliderHeight);
    transition: transform 1s;
    background-color: #ddd;
}
.slide
{
    width: 100vw;
    height: 100%;
    float: left;
    background-size: cover;
    background-position: center;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
}
.slide h1
{
    font-size: 3em;
}
#slidePrev, #slideNext
{
    position: absolute;
    color: white;
    font-size: 2.3em;

    top: calc(var(--sliderHeight) / 2);
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.4);
    width: 1.7em;
    height: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}
#slidePrev
{
    left: 3vw;
}
#slideNext
{
    right: 3vw;
}
@media (max-width: 450px)
{
    header
    {
        margin: 0 auto !important;
    }
    .header-top
    {
        height: 6vh !important;
    }
    .header-wrapper
    {
        font-size: 0.5em !important;
        justify-content: center !important;
    }
    #logo
    {
        width: 80px;
        height: 30px;
    }
    menu .wrapper
    {
        justify-content: space-evenly;
    }
    .menu-right a
    {
        font-size: 0.6em;
    } 
    .bigBox i
    {
        font-size: 1em !important;
    }
    .services
    {
        display: block !important;
    }
    .services-wrapper
    {
        font-size: 0.5em !important;
        margin: 0 auto 20px auto;
    }
    .services-wrapper h3
    {
        font-size: 0.8em;
        margin-top: 15px;
    }
    .border-radius
    {
        width: 80px !important;
        height: 80px !important;
        margin: 0 auto;
    }
    .border-radius img
    {
        width: 40px !important;
        height: 40px !important;
    }
    .team
    {
        font-size: 0.6em;
        padding-bottom: 40px;
        text-align: center !important;
    }
    .team h1
    {
        margin: 20px auto;
    }
    .card
    {
        margin: 0 auto 20px auto;
    }

}
.services
{
    max-width: 1000px;
    height: 300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    flex-wrap: wrap;
}
.services>.services-wrapper
{
    max-width: 300px;
}
.services-wrapper
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.services-wrapper>.border-radius
{
    border-radius: 50%;
    background-color: rgb(214, 214, 214);
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: -1px 9px 3px -1px rgb(57 57 57 / 55%);
    transition: transform 0.5s;
    cursor: pointer;
}
.services-text
{
    text-align: center;
}
.border-radius:hover
{
    transform: scale(1.1);
}
.border-radius>img
{
    height: 64px;
}
.team
{
    text-align: center;
    padding-bottom: 100px;
}
.wrapper-team
{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.wrapper-team>.card
{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid rgb(240, 233, 233);
    width: 250px;
    padding: 20px 20px;
    background-color: #fff;
    box-shadow: -2px 5px 12px 2px rgba(0,0,0,0.48);
}
.card span
{
    margin-top: 8px;
}
.card img
{
    height: 180px;
    width: 180px;
    border-radius: 50%;
}
.card .logos
{
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin-top: 20px;
}
.card>.name
{
    font-size: 1.3em;
    font-weight: 700;
}
.card>.position
{
    font-size: 1.1em;
    font-weight: 300;
}
.card .logos a>img
{
    width: 24px;
    height: 24px;
}
.footer
{
    width: 100%;
    background-color: rgb(250, 240, 240);
    padding-bottom: 50px;
    text-align: center;
}
.wrapper-footer
{
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: flex;
    padding-bottom: 70px;
    padding-top: 25px;
    border-bottom: 1px solid black;
}
.wrapper-footer .firm-info
{
    width: 40%;
    text-align: start;
    padding-right: 50px;
}
.wrapper-footer .firm-info>div
{
    padding-right: 30px;
}
.wrapper-footer .firm-info img
{
    width: 100px;
    height: 60px;
}
.wrapper-footer .footer-links
{
    width: 30%;
    text-align: start;
}
.wrapper-footer .footer-links .linie
{
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.wrapper-footer .footer-links .references
{
    margin: 10px 0 0 0;
    font-weight: 400;
}
.wrapper-footer .footer-links a
{
    text-decoration: none;
}
.wrapper-footer .contact-information
{
    width: 30%;
    text-align: start;
}
.wrapper-footer .contact-information .linie
{
    width: 40%;
    border-bottom: 1px solid rgb(0, 0, 0);
}
.wrapper-footer .contact-information .margin
{
    margin: 10px 0 0 0;
    font-weight: 400;
}
.footer .copyRight
{
    font-size: 0.9em;
    font-weight: 400;
}